<div class="item my-4" (click)="onNavigateToTourDetail(tour.id)">
  <div class="item__header">
    <img src="../../assets/images/banner-01.jpg" [alt]="tour.name">
    <div class="item__title">{{ tour.name }}</div>
  </div>
  <div class="item__content">
    <div class="item__subheading">  {{ tour.difficulty | titlecase }} - {{ tour.duration || '' }} DAY TOUR</div>
    <p class="item__description">   {{ tour.summary }}</p>
    <div class="item__details">
      <div><i class="fas fa-map-marker-alt"></i> {{ tour.startLocation?.description || '' }}</div>
      <div><i class="far fa-calendar-alt"></i> {{ tour.startDates?.[0] | date: 'MMMM d, y' }}</div>
      <div><i class="fas fa-flag"></i> 4 stops</div>
      <div><i class="fas fa-user-friends"></i> {{ tour.maxGroupSize }} people</div>
    </div>
  </div>
  <div class="item__footer">
    <div>
      <p>{{ tour.price | currency }} <span>per person</span></p>
      <div class="rating"><strong>⭐ {{ tour.ratingsAverage }}</strong> rating ({{
        tour.ratingsQuantity
      }})</div>
    </div>
    <a (click)="onNavigateToTourDetail(tour.id)" class="btn">DETAILS</a>
  </div>
</div>
