<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a class="logo">
            <h1>TravelGuide</h1>
          </a>
          <ul class="nav" *ngFor="let item of menus">
            <li>
              <a class="{{ item.label }}" *ngIf="item.isActive" (click)="onNavigate(item.label)">{{ item.name }}</a>
            </li>
          </ul>
          <div class="button-group">
            <div class="user-actions" *ngIf="!isLogin">
              <p-button severity="secondary" [rounded]="true" [raised]="true" label="Log in" (click)="login()" />
              <p-button severity="secondary" [rounded]="true" [raised]="true" label="Sign up" (click)="signUp()" />
          </div>
          <div class="flex justify-content-center">
        </div>
            <div class="user-actions" *ngIf="isLogin">
              <user-info (logOutEvent)="logOut()" [userInfo]="userInfo"></user-info>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>