<!-- <mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="formUser" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Email"
            formControlName="email"
          />
        </mat-form-field>
        <mat-error *ngIf="formUser.controls['email'].errors?.['required'] && formUser.controls['email'].dirty">
          Email is required
        </mat-error>
        <mat-error *ngIf="formUser.controls['email'].errors?.['email'] && formUser.controls['email'].dirty">
          Please enter a valid email address
        </mat-error>
      </p>

      <p>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>
        <mat-error *ngIf="formUser.controls['password'].errors?.['required'] && formUser.controls['password'].dirty">
          Password is required
        </mat-error>
        <mat-error *ngIf="formUser.controls['password'].errors?.['minlength'] && formUser.controls['password'].dirty">
          Password must be at least 8 characters
        </mat-error>
      </p>

      <p *ngIf="loginError" class="error">
        {{ loginError }}
      </p>

      <div class="button">
        <button type="submit" [disabled]="formUser.invalid" mat-button>Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card> -->
<form class="container" [formGroup]="formUser" (ngSubmit)="submit()">
  <h1 class="login-title">Login</h1>
  <section class="input-box">
    <input type="text" formControlName="email" placeholder="Email"> <i class='bx bxs-user'></i>
  </section>
  <section class="input-box">
    <input type="password" name="password" placeholder="Password" formControlName="password"> <i class='bx bxs-lock-alt'></i>
  </section>
  <section class="remember-forgot-box">
    <div class="remember-me">
      <input type="checkbox" name="remember-me" id="remember-me"> <label for="remember-me">
<h5>Remember me</h5>
</label>
    </div>
    <a class="forgot-password" href="#">
    </a>
    <h5>Forgot password?</h5>
  </section>
  <button class="login-button" [disabled]="formUser.invalid" type="submit"> Login
</button>
  <h5 class="dont-have-an-account">
    Don't have an account?
    <a href="#"><b>Register</b></a>
  </h5>
</form>
<app-loading [isLoading]="isLoading"></app-loading>
