.overlay-progressBar {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(48, 44, 44, 0.55);
    z-index: 9999;
    .spinner-border {
        width: 3rem;
        height: 3rem;
    }
}
