<p-button
  type="button"
  class="mr-2"
  (onClick)="openDialog()"
  icon="pi pi-user" [rounded]="true" [text]="true" [raised]="true" severity="info "
/>
<p-sidebar [(visible)]="isOpenDialog" position="right">
  <h3>user infor</h3>
  <p-avatar [style]="{'background-color': '#9c27b0', 'color': '#ffffff'}" [label]="getAvatar().firstChar" shape="circle"></p-avatar>
    <p>Username: {{ userInfo?.name }}</p>
    <p>Email: {{ userInfo?.email }}</p>
    <p>Role: {{ userInfo?.role }}</p>
  <button class="logout-btn" (click)="logOut()">Logout</button>
</p-sidebar>
