.asset-table {
  width: 100%;
}

.asset-button-container {
  padding-top: 16px;
  padding-bottom: 16px;
}

.asset-button + .asset-button {
  margin-left: 8px;
}

.edit-btn,
.delete-btn {
  margin-left: 8px;
}

.tool-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .search {
    width: 500px;
    margin-top: 20px;
    .mat-form-field{
      width: 100%;
      .mat-form-field-wrapper{
        padding-bottom: 0;
      }
    }

  }
}
