<div
  class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
  <div class="flex flex-column align-items-center justify-content-center">
    <div
      style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(
          180deg,
          var(--primary-color) 10%,
          rgba(33, 150, 243, 0) 30%
        );
      "
    >
      <div
        class="w-full surface-card py-8 px-5 sm:px-8"
        style="border-radius: 53px"
      >
        <div class="text-center mb-5">
          <div class="text-900 text-3xl font-medium mb-3">
            Welcome to Natour!
          </div>
          <span class="text-600 font-medium">Sign up</span>
        </div>

        <form (ngSubmit)="submit()" [formGroup]="registerForm">
          <div class="flex flex-column gap-2 mb-5">
            <label for="email1" class="block text-900 text-xl font-medium mb-2"
              >User Name</label
            >
            <input
              id="email1"
              type="text"
              placeholder="Email address"
              pInputText
              formControlName="name"
              class="w-full md:w-30rem"
              style="padding: 1rem"
            />
            <small
              class="block"
              style="color: var(--red-400)"
              *ngIf="
                registerForm.controls['name'].errors?.['required'] &&
                registerForm.controls['name'].dirty
              "
            >
            User name is required
            </small>
          </div>
          <div class="flex flex-column gap-2 mb-5">
            <label for="email1" class="block text-900 text-xl font-medium mb-2"
              >Email</label
            >
            <input
              id="email1"
              type="text"
              placeholder="Email address"
              pInputText
              formControlName="email"
              class="w-full md:w-30rem"
              style="padding: 1rem"
            />
            <small
              class="block"
              style="color: var(--red-400)"
              *ngIf="
                registerForm.controls['email'].errors?.['required'] &&
                registerForm.controls['email'].dirty
              "
            >
              Email is required
            </small>
            <small
            class="block"
            style="color: var(--red-400)"
            *ngIf="
              registerForm.controls['email'].errors?.['email'] &&
              registerForm.controls['email'].dirty
            "
          >
          Please enter a valid email address
          </small>
          </div>
          <div class="flex flex-column gap-2 mb-5">
            <label
              for="password1"
              class="block text-900 font-medium text-xl mb-2"
              >Password</label
            >
            <p-password
              id="password1"
              formControlName="password"
              placeholder="Password"
              inputStyleClass="w-full p-3 md:w-30rem"
              [toggleMask]="true"
            ></p-password>
            <small
              class="block"
              style="color: var(--red-400)"
              *ngIf="
                registerForm.controls['password'].errors?.['required'] &&
                registerForm.controls['password'].dirty
              "
            >
              Password is required
            </small>
            <small
            class="block"
            style="color: var(--red-400)"
            *ngIf="
              registerForm.controls['password'].errors?.['pattern'] &&
              registerForm.controls['password'].dirty
            "
          >
          Password must contain at least 8 characters, including a number and a
          special character
          </small>
          </div>
          <div class="flex flex-column gap-2 mb-5">
            <label
              for="password1"
              class="block text-900 font-medium text-xl mb-2"
              >Confirm Password</label
            >
            <p-password
              id="password1"
              formControlName="passWordConfirm"
              placeholder="Password"
              inputStyleClass="w-full p-3 md:w-30rem"
              [toggleMask]="true"
            ></p-password>
            <small
              class="block"
              style="color: var(--red-400)"
              *ngIf="
                registerForm.controls['passWordConfirm'].errors?.['required'] &&
                registerForm.controls['passWordConfirm'].dirty
              "
            >
              Password is required
            </small>
            <small
            class="block"
            style="color: var(--red-400)"
            *ngIf="
               registerForm.controls['passWordConfirm'].errors?.['notSame'] &&
            !registerForm.controls['passWordConfirm'].errors?.['required'] &&
            registerForm.controls['passWordConfirm'].dirty
            "
          >
          Passwords do not matchd
          </small>
          </div>
          <div
            class="flex align-items-center justify-content-end mb-5 gap-5"
          >
            <a
              class="font-medium no-underline ml-2 text-right cursor-pointer"
              style="color: var(--primary-color)"
              (click)="onNavigateToLogin()"
              >Have a account? Login now</a
            >
          </div>
          <button
            pButton
            pRipple
            label="Register"
            [disabled]="registerForm.invalid"
            class="w-full p-3 text-xl"
          ></button>
        </form>
      </div>
    </div>
  </div>
</div>

<app-loading [isLoading]="isLoading"></app-loading>
